* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

.container{
    width:90%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;

}
.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}
/* header Section */
header{
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 40px 0;
}
.navbar {
    background-color:#34495e ;
    overflow: hidden;
}
.navbar ul{
    list-style: none;
    text-align: center;
}
.navbar li{
    display: inline-block;
    margin: 0 15px;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding:  14px 20px;
    display: inline-block;
}
.navbar a:hover {
    background-color: #18bc9c;
    border-radius: 4px;

}

/* section */
section{
    margin-top: 10px;
}
h2 {
    margin-bottom: 10px;
    color: #2c3e50;
}


.card{
    background-color: #0e84c3;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: tranform 0.3s ease, box-shadow 0.3s ease;
    
}
.card:hover{
    transform:  translate(-6px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.12);
}
.card p{
    color: #555;
    font-size: 16px;
    line-height: 1.5;
}
.card

/* footer */
footer {
    text-align: center;
    padding:20px;
    background-color: #2c3e50;
    color: white;
    margin-top: 40 px;
}


form{
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}
form label{
    font-weight: bold;
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;

}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border:  1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

form button{
   background-color: #1abc; 
   color: white;
   border:none;
   border-radius: 6px;
   cursor: pointer;
   font-size: 15px;

}
form button:hover{
    background-color: #16a085;

}


#social a{
    text-decoration: none;
    color: #1abc9c;
    font-weight: bold;
    margin-right: 10px;
    transition: color 0.3s ease;
}

#social a:hover {
    color: #16a085;
}